h1,
h4 {
  margin: 0 !important;
}

body,
#app {
  height: 100vh;
}

.homepage {
  height: calc(100vh - 53.39px);
}

.new-room-config .arwes-card__children,
.new-profile-config .arwes-card__children {
  z-index: 10;
}

.main-header {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.ReactModal__Content {
  box-shadow: 1px 1px 6px 0px black !important;
}

.ReactModal__Overlay {
  background-color: rgb(5 47 55 / 40%) !important;
}

.homepage {
  padding: 24px;
}
.create-room-action {
  display: flex;
  justify-content: center;
}
.room {
  padding: 10px;
}
.room-header figure {
  max-width: 320px;
  margin: unset;
  margin-left: 16px;
}
.room-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}
.room-header .header-list {
  max-width: 600px;
}
.room-header .arwes-figure__image {
  max-height: 100px;
}
.room-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.room-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  // border-top: 3px solid;
}
.video-container {
  padding: 24px;
}
.header-attr-style {
  color: #ffa76c;
}
.link:hover {
  cursor: pointer;
  color: #ffa76c;
}
.source-code-link {
  color: unset;
  margin-right: 24px;
}

.source-code-link:hover {
  cursor: pointer;
  color: #ffa76c;
}

.vertical-center {
  display: flex;
  align-items: center;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-auto-rows: 310px;
  justify-content: center;
  margin-bottom: 36px;
}
.video-container .video-item {
  padding: 24px;
}
.video-container {
  height: 100%;
  min-width: calc(100% - 1000px);
  max-width: calc(100% - 400px);
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -6px !important;
}
.video-style {
  border: 3px solid;
}
