h1,
h4 {
  margin: 0 !important;
}

body,
#app {
  height: 100vh;
}

.homepage {
  height: calc(100vh - 53.39px);
}

.new-room-config .arwes-card__children,
.new-profile-config .arwes-card__children {
  z-index: 10;
}

.main-header {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.ReactModal__Content {
  box-shadow: 1px 1px 6px 0px black !important;
}

.ReactModal__Overlay {
  background-color: rgb(5 47 55 / 40%) !important;
}

.homepage {
  padding: 24px;
}
.create-room-action {
  display: flex;
  justify-content: center;
}
.room {
  padding: 10px;
}
.room-header figure {
  max-width: 320px;
  margin: unset;
  margin-left: 16px;
}
.room-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 14px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}
.room-header .header-list {
  max-width: 600px;
  flex: 0 1 auto;
}
.room-header .arwes-figure__image {
  max-height: 100px;
}
.room-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.room-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex: 1 1 auto;
}
.main-room-container {
  height: calc(100% - 53.39px);
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.room-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  // border-top: 3px solid;
}
.header-attr-style {
  color: #ffa76c;
}
.link:hover {
  cursor: pointer;
  color: #ffa76c;
}
.source-code-link {
  color: unset;
  margin-right: 24px;
}

.source-code-link:hover {
  cursor: pointer;
  color: #ffa76c;
}

.vertical-center {
  display: flex;
  align-items: center;
}

#video-grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
}
.video-item {
  padding: 24px;
  min-width: 350px;
}
.video-container {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  padding: 24px;
  min-width: calc(100% - 1000px);
  max-width: calc(100% - 400px);
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -6px !important;
}

.video-wrapper {
  position: relative;
}

.video-overlay h4 {
  margin: 0 auto !important;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.video-style {
  border: 3px solid;
}

.chat-container {
  display: flex;
  flex: 0 1 aut0;
  flex-flow: column;
  border: 1px solid;
  background-color: rgb(9 65 70 / 63%);
  width: 25%;
  min-width: 300px;
  max-width: 500px;
  margin-top: -16px;
}

.message-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 auto;
  padding: 16px;
  margin: 16px;
  overflow-y: scroll;
  background-color: rgb(4 43 46 / 90%);
  border-radius: 4px;
  box-shadow: inset black 1px 1px 10px;
  height: 100px;
}

.message-header {
  display: flex;
}

.message-container {
  margin: 12px 0px;
}

.message-header img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.message-message {
  padding: 2px;
  border: 1px;
  min-width: 100px;
}
.message-message p {
  margin: 2px 0;
}
.message-message small {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 70%;
  text-transform: capitalize;
}
.chat-box {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  padding: 12px;
  border: 2px solid;
  border-left: unset;
  border-right: unset;
}
.chat-box-input {
  margin-right: 16px;
  flex: 1 1 auto;
  box-shadow: inset black 1px 1px 12px;
}
.chat-box-send {
  padding: 4px;
  flex: 0 1 auto;
  user-select: none;
}
.chat-box-send:hover {
  cursor: pointer;
  color: #ffa76c;
}
