h1 {
  margin: 0 !important;
}

body,
#app {
  height: 100vh;
}

.homepage {
  height: calc(100vh - 53.39px);
}

.new-room-config .arwes-card__children,
.new-profile-config .arwes-card__children {
  z-index: 10;
}

.main-header {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.ReactModal__Content {
  box-shadow: 1px 1px 6px 0px black !important;
}

.ReactModal__Overlay {
  background-color: rgb(5 47 55 / 40%) !important;
}

.homepage {
  padding: 24px;
}
.create-room-action {
  display: flex;
  justify-content: center;
}
.room {
  padding: 10px;
}

.room-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.link:hover {
  cursor: pointer;
  color: #ffa76c;
}
.source-code-link {
  color: unset;
  margin-right: 24px;
}

.source-code-link:hover {
  cursor: pointer;
  color: #ffa76c;
}

.vertical-center {
  display: flex;
  align-items: center;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
